@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@400;700&family=Style+Script&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Passion+One:wght@700&family=Patua+One&family=Righteous&family=Special+Elite&display=swap');

/* NAVBAR */
.fa-bars {
    color: #3e008a !important;
    font-size: 28px;
}

.navbar {
    padding: 0 0 4.5rem 0 !important;
}

.nav-item {
    padding: 0 12px;
    text-transform: uppercase;
}

.nav-link {
    color: #3e008a !important;
    font-family: Montserrat;;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-link:hover {
    background: #3e008a;
    color: #FFCC29 !important;
    padding: 10px 15px !important;
    /* border-bottom: 4px solid #7B88FF; */
    /* color: #7B88FF !important; */
}

/* TITLE SECTION */
.container-fluid {
    padding: 5% 15%;
}

#title {
    text-align: center;
    background: #FFCC29;
}

#title p {
    font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 400;
}

.diary {
    font-family: Style Script;
    font-size: 5rem;
}

.titan {
    font-family: Special Elite;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 0;
    /* animation */
    animation: slideFromLeft 5s ease-in-out 1;
}

.thanos {
    height: auto;
    width: 600px;
    /* animation */
    animation: slideFromRight 5s ease-in-out 1;
}

/* GEMS */
#gems {
    background: #fff;
    padding: 5% 15%;
    text-align: center;
}

.gem {
    cursor: pointer;
    filter: drop-shadow(7px 7px 4px #383837);
    width: 300px;
}

.gem:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* PROLOGUE */
#prologue {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#prologue h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#prologue p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

#prologue img {
    width: 125px;
    margin: 20px 0;
}

.mask {
    text-align: center;
    animation: bounce 2s ease infinite;
}

/* POWER */
#power {
    background: #fff8de;
    padding: 5% 16%;
    line-height: 1.5;
}

#power h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#power p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.power-gem img {
    width: 160px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.champion {
    border: 2px solid black;
    width: 250px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* SOUL */
#soul {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#soul h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#soul p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.soul-gem img {
    width: 160px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.in-betweener {
    border: 2px solid black;
    width: 210px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* TIME */
#time {
    background: #fff8de;
    padding: 5% 16%;
    line-height: 1.5;
}

#time h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#time p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.time-gem img {
    width: 160px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.gardener {
    border: 2px solid black;
    width: 210px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* SPACE */
#space {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#space h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#space p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.space-gem img {
    width: 160px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.runner {
    border: 2px solid black;
    width: 250px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* REALITY */
#reality {
    background: #fff8de;
    padding: 5% 16%;
    line-height: 1.5;
}

#reality h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#reality p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.reality-gem img {
    width: 160px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.collector {
    border: 2px solid black;
    width: 240px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* MIND */
#mind {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#mind h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#mind p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.mind-gem img {
    width: 160px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.grandmaster {
    border: 2px solid black;
    width: 210px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* EPILOGUE */
#epilogue {
    background: #fff8de;
    padding: 5% 16%;
    line-height: 1.5;
}

#epilogue h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#epilogue p {
    font-family: Montserrat;
    font-size: 1.15rem;
    font-weight: 400;
    text-align: left;
}

.gauntlet img {
    width: 250px;
    margin: 20px 0;
    animation: bounce 2s ease infinite;
    filter: drop-shadow(7px 7px 4px #383837);
}

.thanos_2 {
    border: 2px solid black;
    width: 250px;
    filter: drop-shadow(7px 7px 4px #383837);
}

/* FOOTER */
#footer {
    background: #3e008a;
    color: #fff;
    padding: 5% 16%;
    text-align: center;
}

.copyright {
    color: #F7EA00;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
}

.links a {
    color: #fff;
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 15px;
    text-decoration: none !important;
}

.links a:hover {
    background: #FFCC29;
    color: #3e008a;
    padding: 10px 15px;
}

.social {
    color: #fff;
    font-size: 2.5rem;
    margin: 0 10px;
}

.social a {
    text-align: center;
    text-decoration: none;
}

.social:hover {
    color: #FFCC29;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  

/* MEDIA */
@media only screen and (max-width: 1080px) {

    .fa-bars {
        animation: bounce 2s ease infinite;
    }

    .titan {
        font-size: 3.3rem;
    }

    .thanos {
        height: auto;
        width: 315px;
    }

    #prologue h1 {
        font-size: 2.5rem;
    }

    #prologue p {
        font-size: 1.5rem;
    }

    #power h1 {
        font-size: 2.5rem;
    }

    #power p {
        font-size: 1.5rem;
    }

    #soul h1 {
        font-size: 2.5rem;
    }

    #soul p {
        font-size: 1.5rem;
    }

    #time h1 {
        font-size: 2.5rem;
    }

    #time p {
        font-size: 1.5rem;
    }

    #space h1 {
        font-size: 2.5rem;
    }

    #space p {
        font-size: 1.5rem;
    }

    #reality h1 {
        font-size: 2.5rem;
    }

    #reality p {
        font-size: 1.5rem;
    }


    #mind h1 {
        font-size: 2.5rem;
    }

    #mind p {
        font-size: 1.5rem;
    }

    #epilogue h1 {
        font-size: 2.5rem;
    }

    #epilogue p {
        font-size: 1.5rem;
    }

    .copyright {
        font-size: 1rem;
    }

    .links a {
        font-size: 1.1rem;
    }

    .social-one {
        text-align: center;
    }

    .social-two {
        text-align: center;
    }
}

/* KEYFRAMES */
@keyframes slideFromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    50% {
        transform: translateX(-200px);
        opacity: 0.5;
    }
    75% {
        transform: translateX(50px);
        opacity: 0.75;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        transform: translateX(200px);
        opacity: 0.5;
    }
    75% {
        transform: translateX(-50px);
        opacity: 0.75;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.20);
    }
    100% {
        transform: scale(1);
    }    
}