@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@400;700&family=Style+Script&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Passion+One:wght@700&family=Patua+One&family=Righteous&family=Special+Elite&display=swap');

/* NAVBAR */
.fa-bars {
    color: #3e008a !important;
    font-size: 28px;
}

.navbar {
    padding: 0 0 4.5rem 0 !important;
}

.nav-item {
    padding: 0 12px;
    text-transform: uppercase;
}

.nav-link {
    color: #3e008a !important;
    font-family: Montserrat;;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-link:hover {
    border-bottom: 4px solid #7B88FF;
    color: #7B88FF !important;
}

/* TITLE SECTION */
.container-fluid {
    padding: 5% 15%;
}

#title {
    text-align: center;
    background: #FFCC29;
}

#title p {
    font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 400;
}

.diary {
    font-family: Style Script;
    font-size: 5rem;
}

.titan {
    font-family: Special Elite;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 0;
}

.thanos {
    height: auto;
    width: 600px;
}

/* GEMS */
#gems {
    background: #fff;
    padding: 5% 15%;
    text-align: center;
}

.gem {
    cursor: pointer;
    filter: drop-shadow(7px 7px 4px #383837);
    width: 300px;
}

.gem:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* PROLOGUE */
#prologue {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#prologue h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#prologue p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#prologue img {
    width: 125px;
    margin: 20px 0;
}

.mask {
    text-align: center;
}

/* POWER */
#power {
    background: #f5ebff;
    padding: 5% 16%;
    line-height: 1.5;
}

#power h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#power p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#power img {
    filter: drop-shadow(7px 7px 4px #383837);
    width: 175px;
    margin: 20px 0;
}

.power-gem {
    text-align: center;
}

/* SOUL */
#soul {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#soul h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#soul p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#soul img {
    filter: drop-shadow(7px 7px 4px #383837);
    width: 175px;
    margin: 20px 0;
}

.soul-gem {
    text-align: center;
}

/* TIME */
#time {
    background: #FEFFDE;
    padding: 5% 16%;
    line-height: 1.5;
}

#time h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#time p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#time img {
    filter: drop-shadow(7px 7px 4px #383837);
    width: 175px;
    margin: 20px 0;
}

.time-gem {
    text-align: center;
}

/* SPACE */
#space {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#space h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#space p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#space img {
    filter: drop-shadow(7px 7px 4px #383837);
    width: 175px;
    margin: 20px 0;
}

.space-gem {
    text-align: center;
}

/* REALITY */
#reality {
    background: #F7F3E9;
    padding: 5% 16%;
    line-height: 1.5;
}

#reality h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#reality p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#reality img {
    filter: drop-shadow(7px 7px 4px #383837);
    width: 175px;
    margin: 20px 0;
}

.reality-gem {
    text-align: center;
}

/* MIND */
#mind {
    background: #fff;
    padding: 5% 16%;
    line-height: 1.5;
}

#mind h1 {
    font-family: Special Elite;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#mind p {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}

#mind img {
    filter: drop-shadow(7px 7px 4px #383837);
    width: 175px;
    margin: 20px 0;
}

.mind-gem {
    text-align: center;
}

/* MEDIA */
@media only screen and (max-width: 1080px) {

    .titan {
        font-size: 3.3rem;
    }

    .thanos {
        height: auto;
        width: 315px;
    }

    #prologue p {
        font-size: 1.5rem;
    }

    #power p {
        font-size: 1.5rem;
    }

    #soul p {
        font-size: 1.5rem;
    }

    #time p {
        font-size: 1.5rem;
    }

    #space p {
        font-size: 1.5rem;
    }

    #reality p {
        font-size: 1.5rem;
    }

    #mind p {
        font-size: 1.5rem;
    }
}